.cache
.ipynb_checkpoints
.ipython
.jupyter
.local
.venv
*__pycache__*
*.jpg
*.onnx
*.png
*.pth
*.u3m
*.u3o
*.xml
*.zip

data/model
data/coco-annotations/*/images/*
!data/coco-annotations/*/images/.gitkeep
data/mmdetection
data/mmrotate
data/work_dirs
