black==25.12.0
datumaro==1.12.0
isort==7.0.0
jupyterlab==4.5.1
jupyterlab-code-formatter==3.0.2
matplotlib==3.10.8
onnx==1.20.1
onnxruntime-gpu==1.22.0
onnxscript==0.6.2
onnx-simplifier==0.4.36
onnx-graphsurgeon==0.5.8
opencv-python==4.10.0.84
openmim==0.3.9
pandas==2.3.3
pyzipper==0.3.6
ruamel.yaml==0.18.6
scikit-learn==1.8.0
seaborn==0.13.2
tqdm==4.67.1
